/* Laradocgen Frontend CSS Source File */

/* Imports */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Tailwind */
.subheading {
	color: #1a202c;
	font-weight: 600;
	font-size: 1.2em;
	margin-top: 2em;
	margin-bottom: 1em;
	line-height: 1.3333333
}

.dark .subheading {
	color: #f3f4f6;
}

@media screen and (max-width: 360px) {
	.prose :where(h1):not(:where([class~=not-prose] *)) {
		font-size: 2em;
	}
}

.prose blockquote p:first-of-type::before,
.prose blockquote p:last-of-type::after {
	content: none;
}


/* Table of Contents */
html {
	scroll-behavior: smooth;
}

.table-of-contents {
	margin-bottom: 1rem;
}

.table-of-contents ul {
	margin-left: 1rem;
}

.table-of-contents li::before {
	content: "# ";
	color: #6b7280;
	transition: color 0.25s;
}

.dark .table-of-contents li {
    color: #f3f4f6;
}

.heading-permalink {
	opacity: 0.25;
	color: #6b7280;
	padding: 1rem 0.75rem;
}


.dark .table-of-contents li::before {
	color: #d1d5db;
}

.dark .heading-permalink {
	color: #d1d5db;
}


h1:hover .heading-permalink,
h2:hover .heading-permalink,
h3:hover .heading-permalink,
h4:hover .heading-permalink,
h5:hover .heading-permalink,
h6:hover .heading-permalink {
	opacity: 1;
	color: #6366f1;
}

h1, h2, h3, h4, h5, h6 {
	width: fit-content;
} 

/* Inline Code Style */

:not(pre)>code {
	/* Unset the font as we don't need monospace */
	font: inherit;

	/* Set the background */
	background-color: rgba(128, 128, 128, 0.2);
	padding-left: 4px;
	padding-right: 4px;
	margin-left: -2px;
	margin-right: 1px;
	border-radius: 4px;

	/* Set the white-space to pre. (Opinionated setting) */
	white-space: pre;
}

/* Remove the Tailwind prose backtick */
.prose :where(code):not(:where([class~=not-prose] *)):before,
.prose :where(code):not(:where([class~=not-prose] *)):after {
	content: unset;
}
